div.myCoinsTableWrapper1{
    float: left;
    width: 44%;
    overflow-y: auto;
  }
  div.myCoinsTableWrapper2{
    float: left;
    width: 56%;
    overflow-y: auto;
  }
  table.myCoinsTable{
    margin-top: 20px;
    border-collapse: collapse;
  }
  table.myCoinsTable tr{
  
  }
  table.myCoinsTable tr.iam-in{
  background-color: greenyellow;
  }
  table.myCoinsTable tr.iam-watching{
    background-color: orange;
    }
  table.myCoinsTable tr th,table.myCoinsTable tr td{
    border:1px dashed gray;
    padding: 6px;
  }
  #coin-list-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
  }

  /* RESPONSIVE STYLES */
  /* laptop */
@media screen and (max-width: 1024px) {
  div.myCoinsTableWrapper1{
      width: 100%;
  }
  div.myCoinsTableWrapper2{
      width: 100%;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  div#coin-list-wrapper > div:nth-child(1){
      margin: unset !important;
  }
  div#coin-list-wrapper > div:nth-child(2){
      width: 100% !important;
  }
}

/* mobile */
@media screen and (max-width: 425px) {

}