html {

}

body {
  margin: 8px;
}

header, footer {
  padding: 10px;
}

#content-body {
  padding: 20px;
  background-color: aliceblue;
}

.board-row {

}

.board-row:after {
  content: '';
  clear: both;
  display: table;
}

.board-row .board-col {
  float: left;
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}

#header-navigation a.nav-item{
  margin: 0 6px 0 2px;
  color: dodgerblue;
}
#header-navigation a.nav-item.active{
  color: #f50c5b;
}