html {

}

body {
  /*margin: 8px;*/
  background-color: aliceblue;
  font-size: 15px;
}

header, footer {
  padding: 10px;
}

footer{
  position: fixed;
  bottom:0;
  width: 100%;
  box-sizing: border-box;
}

#content-body {
  padding: 10px 10px 53px 10px;
  min-height: 500px;
}